.root {
  min-height: 100%;
  // background-color: #E3F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.svg-container {
  width: 100%;

  svg {
    height: 100vh;
  }
}

.preload {
  display: none;
}
